header{
    margin:40px auto;
    border-bottom: 2px solid black;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
}
.gridcont1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-start: 1;
    grid-column-end: 4;
    align-items:center;
    gap:5rem;
}
img{
    width:100%;
    border:3px solid black;
}

