header{
    border-bottom: 2px solid black;
    text-align: center;
}
main{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    height:100vh;
}
.first{
    border-right:2px solid black;
    padding:30px;
    font-size:1rem;
}
.last{
    border-left: 2px solid black;
    list-style: none;
    font-size: 1rem;
    padding:30px;
}
img{
    width:100%;
    border-radius: 5px;

}
.mid{
    padding:0.5rem;
}
footer{
    border-top: 2px solid black;
    padding:2rem;
    text-align: center;
    font-size: 1rem;
}