header{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}
header p{
    justify-self: center;
    font-size: 1rem;
}
main{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    margin:20px auto;
    max-width:1200px;
}
.image{
    border:10px solid pink;
    grid-row:span 2;  
}

.text{
    border:10px solid pink;
}
img{
    width:100%;
    height:100%;
}