
.div{
    width:60vw;
    /* height:100vh; */
    border:2px solid black;
    background-color: rgb(230, 213, 213);
    padding:2rem;
   margin-left:4rem;
   margin-top:2rem;
  
}
 label{
    display:block;   /* label is inline element so we use css to make block but div is already a block element*/
    padding-top:1rem ;
} 

