/* #a{
    border:5px solid red;
    margin:15px;
    padding:15px;
    width:40vw;
    font-size: 2rem;
    background-color: pink;
}
#b{
    border:3px solid blue;
    margin:20px;
    padding:20px;
    width:40vw;
    background-color: red;
    font-size: 2rem;
    color:white;
}
.demo{
    color: grey;
}
.push{
    color:white;
} */
