div{
    border:2px solid gray;
    margin-left: 4rem;
    height:46vh;
    width:27vw;
    padding-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;

}
.a{
    margin-bottom: 0;
}
.b{
    margin-top: 0;
}
img{
    height:100px;
    width:100px;
    margin-left:4rem;
}
i{
    color:yellow;
}