@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
*{
    margin:0;
    padding:0;
    font-family:Momo Signature;
}
body{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap-reverse;
    display: flex;
    flex-direction: column;
    height: 50vh;
     border: 2px solid red;

}
div{
   
    background-color:purple;
    color:white;
    height: 80px;
    width:50px;
}