/* .a{
    border:2px solid red;
    color:red;
    background-color:pink;
    margin:3rem;
    padding:3rem;
}
#b{
    border:2px solid red;
    color:white;
    background:black;
    margin:3rem;
    padding:3rem;
} */
 