.a{
    border:2px solid red;
    background-color: azure;
}
#b{
    border:2px solid blue
}
.e{
    border:2px solid black;
    background-color: aqua;
}
.c{
    border:2px solid pink
}
#d{
    border:2px solid green;
}
.f{
    border:2px solid yellow;
    background-color: blueviolet;
}
