p{
    font-size: 18px;
}

button{
    border: 2px solid blue;
    background-color: blue;
    color:white;
    margin-left: 4rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;

}
#a{
    color: grey;
}
.b{
    border: 2px solid grey;
    width: 75vw;
    padding: 1rem;
}
input{
    padding: 0.3rem;
}
span{
    color: blue;
}
h3{
    box-shadow: 9px 2px 4px 5px yellow;
    background-color: red;
    width: 55vw;
}