

input{
     width: 10rem;
     height: 1.5rem;
     border-radius: 0.3rem;
     color: grey;
}
div{
     padding-left: 19px;
     width:35vw;
     height: 80vh;
     font-family:Arial, Helvetica, sans-serif;
     border: 0px;
     border-radius: 0.4rem;
     border: 2px solid white;
     background-color: white;
     margin-left: 2rem;
     margin-top: 4rem;

}
.b{
     margin-left:1rem;
     color: grey;

}
body{
     background:linear-gradient(to top,red,orange);
     width: 100vw;
     height: 100vh;
}
.c{
     margin-left: 10.5rem;
}
h2{
     padding-left: 7rem;
     padding-bottom: 0;
}  
p
{
     padding-left: 7rem;
     padding-bottom: 2.5rem;
     padding-top: 0.1rem;
     margin-top: 0px;

}

.e{
     margin-left: 11rem;
}
.g{
     /* margin-left: 5.2rem; */
     /* width: 44rem;
 */
}
button{
     background-color: rgb(61, 206, 3);
     color: white;
     margin-left: 9rem;
     width: 9rem;
     height: 2rem;
     border-radius: 0.2rem;
     border: 0;
}
input{
     color: grey;
}
